.underline_wrapper{
    border-top: 2px solid rgba(0, 0, 0, 0.3);
    width: 100%;
    animation-name: underline-move;
    animation-duration: 1.5s;
    animation-direction: alternate;
    margin: 5px auto;
    border-radius: 5px;
}

@keyframes underline-move{
0%{
    border-top: 2px solid rgba(0, 0, 0, 0.3);
    width: 100%;
}
50%{
    border-top: 3px solid rgba(0, 0, 0, 0.5);
    width: 80%;
}
100%{
    border-top: 2px solid rgba(0, 0, 0, 0.3);
    width: 100%;
}
}